.page {
    background-image: url(../../images/cover.jpg);
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-y: scroll;
}