body {
    margin: 0;
}

.board {
    margin: 0 auto;
    padding: 5%;
    width: 80%;
    max-width: 1010px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: wrap;

    overflow: hidden; 
}

.board > div {
    width: 125px;
    height: 200px;
    margin: 1%;

    border: none;
}